.photoURL {
    width: 3em; height: 3em;
    border-radius: 360px;
    margin-right: 5px;
}

.icon-post {
    cursor: pointer;
    width: 20px;
}
.icon-post:hover {
    transform: scale(1.5);
    /* color: rgb(223, 221, 221); */
}

.photoLike {
    width: 30px; height: 30px;
    border-radius: 360px;
    margin-right: 5px;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	/* padding: 10px; */
	padding-left: 24px;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}